pkgbase = linux-runink
	pkgdesc = Runink River kernel for Arch Linux (zen 7.2 stable, analytics and data-pipeline profile)
	pkgver = 7.2.7.zen1
	pkgrel = 1
	url = https://github.com/org-runink/river
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = binutils
	makedepends = cpio
	makedepends = gettext
	makedepends = glibc
	makedepends = go
	makedepends = libelf
	makedepends = libgcc
	makedepends = openssl
	makedepends = pahole
	makedepends = perl
	makedepends = tar
	makedepends = xxhash
	makedepends = xz
	makedepends = zlib
	makedepends = zstd
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/linux-7.2.7.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/linux-7.2.7.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v7.2.7-zen1/linux-v7.2.7-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v7.2.7-zen1/linux-v7.2.7-zen1.patch.zst.sig
	source = config.base-v7.2.7.zen1-1::https://raw.githubusercontent.com/org-runink/river/v7.2.7.zen1-1/build/pkgbuilds/runink-kernel/config.base
	source = config.delta-v7.2.7.zen1-1::https://raw.githubusercontent.com/org-runink/river/v7.2.7.zen1-1/build/pkgbuilds/runink-kernel/config.delta
	source = config.require-v7.2.7.zen1-1::https://raw.githubusercontent.com/org-runink/river/v7.2.7.zen1-1/build/pkgbuilds/runink-kernel/config.require
	source = bpfdoc-v7.2.7.zen1-1.go::https://raw.githubusercontent.com/org-runink/river/v7.2.7.zen1-1/build/tools/bpfdoc/main.go
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 4ac34c47db2540ffb2713943f8d891ff1702e0ba6934525a493b7d1cad43145a
	sha256sums = SKIP
	sha256sums = c85f1c9dd1bf06b6766fff71effd194c7a29efa24c61e79343779d323822e1e1
	sha256sums = SKIP
	sha256sums = 6bc535a491ae9d68b928a53f481c3f0e8a54b207612a01c4222b0acb1252b219
	sha256sums = 215e7ed5aee10bb735f7de8a5b103a798eb6185419e706c49312db51fb2cfb1a
	sha256sums = e5913f21e21ead4f85aa2a3664f0b820ced330cfb05cf9e20a639b23fdd0951b
	sha256sums = adf4435fc6b04da282aba07720173fa3755f6770cf06afddd16edd22dc27ca09

pkgname = linux-runink
	pkgdesc = The Runink River kernel and modules, for Arch Linux (zen 7.2 stable, analytics profile)
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-runink-headers: headers and scripts for building modules
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched_ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE

pkgname = linux-runink-headers
	pkgdesc = Headers and scripts for building modules for the Runink River kernel (linux-runink)
	depends = binutils
	depends = glibc
	depends = libelf
	depends = libgcc
	depends = openssl
	depends = pahole
	depends = xxhash
	depends = zlib
	depends = zstd
	provides = LINUX-HEADERS
